PORT=
JWT_SECRET=
NODE_ENV=

# Database Configuration (MySQL)
DB_HOST=
DB_PORT=
DB_ROOT_PASSWORD=
DB_NAME=
DB_USER=
DB_PASSWORD=
DATABASE_URL=


# Cache Configuration (Redis)
REDIS_HOST=
REDIS_PORT=

# Mail Configuration (Nodemailer)
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# Auth Token Expiry Configuration (s=seconds, m=minutes, h=hours, d=days)
ACCESS_TOKEN_EXPIRY="15m"
REFRESH_TOKEN_EXPIRY="7d"
OTP_EXPIRY_DURATION="5m"